@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
:root {
  --c-white: #ffffff;
  --c-very-dark-gray: hsl(0, 0%, 17%);
  --c-dark-gray: hsl(0, 0%, 59%);
}

*,
*::before,
*::after {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  overflow: hidden;
  line-height: 1.6;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

@media only screen and (max-width: 1024px) {
  body {
    overflow: visible;
  }
}